
  .imagestyle{
    height: auto;
    width: 65%;
    margin-top: 15px;
    margin-left: -81px;
  }
  .danger{
    color: red;
    padding: 10px;
  }
  .edit{
    color: #007bff;
    padding: 10px;
  }