 <!-- <div class="container">
  <h2>Employee Details</h2> -->
   <button type="button" class="btn btn-primary btn-sm pull-right" (click)="logout()">Logout</button><br>
 <!-- <div class="alert alert-success" *ngIf="succMsg" ><strong>Success!</strong>  {{msgText}} Successfully </div>
  <table class="table thead-light">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>

        <th>Address1</th>
        <th>Address2</th>
        <th>Phone No</th>
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userData">
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.emailid}}</td>
        <td>{{data.address1}}</td>
        <td>{{data.address2}}</td>
        <td>{{data.phoneno}}</td>
        <td>

          <a (click)="getSpecificUserData(data.id)">  <i class="fa fa-pencil edit" aria-hidden="true"> </i>
         </a>

       <a (click)="deleteUserData(data.id)">   <i class="fa fa-trash danger" aria-hidden="true"></i> </a>
        </td>
      </tr>

    </tbody>
  </table>



  
  <div id="login" *ngIf="display">
      <h3 class="text-center text-white pt-5">Registration form</h3>
      <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
              <form [formGroup]="editForm" novalidate class="mt-8" id="login-form"
                class="form">
                <h3 class="text-center text-info">Edit Profile </h3>
               
  
                <div class="form-group">
                  <label for="username" class="text-info">First Name:</label><br>
                  <input type="text" name="username" id="firstname" formControlName="firstname" class="form-control">
                  <span class="err-msg" *ngIf="editForm.get('firstname').touched &&  editForm.get('firstname').hasError('required')">
                      Required Field
                   </span>
                </div>
                <div class="form-group">
                  <label for="username" class="text-info">Last Name:</label><br>
                  <input type="text" name="username" id="lastname" formControlName="lastname" class="form-control">
                  <span class="err-msg" *ngIf="editForm.get('lastname').touched &&  editForm.get('lastname').hasError('required')">
                      Required Field
                   </span>
                   </div>
                <div class="form-group">
                  <label for="username" class="text-info">Email</label><br>
                  <input type="text" name="username" id="email" formControlName="emailid" class="form-control">
                  <span class="err-msg" *ngIf="editForm.get('emailid').touched &&  editForm.get('emailid').hasError('required')">
                      Required Field
                   </span>
                   </div>
                <div class="form-group">
                  <label for="username" class="text-info">Phone:</label><br>
                  <input type="text" name="username" id="phone" formControlName="phoneno" class="form-control">
                  <span class="err-msg" *ngIf="editForm.get('phoneno').touched &&  editForm.get('phoneno').hasError('required')">
                      Required Field
                   </span>
                    </div>
                <div class="form-group">
                  <label for="password" class="text-info">address1:</label><br>
                  <input type="text" name="password" id="address1" formControlName="address1" class="form-control">
                  <span class="err-msg" *ngIf="editForm.get('address1').touched &&  editForm.get('address1').hasError('required')">
                      Required Field
                   </span>
                   </div>
  
                <div class="form-group">
                  <label for="password" class="text-info">address2:</label><br>
                  <input type="text" name="password" id="address2" formControlName="address2" class="form-control">
               
                  <span class="err-msg" *ngIf="editForm.get('address2').touched &&  editForm.get('address2').hasError('required')">
                      Required Field
                   </span> </div>
  
  
                   <div class="form-group mb-4" style="padding-left:90px">
                      <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
                     
                      <img id="profilepic" src="{{base64textString}}" alt="Red dot"  class="imagestyle"/>
                      
                    </div>
               
  
  
                <div class="alert alert-success" *ngIf="succMsg">
                    <strong>Success!</strong> {{msgText}} Successfully 
                  </div>
  
                <div class="row">
                  <div class="col-md-3">
                    <button class="btn  btn-success" (click)="updateData()"> Update </button>
  
                  </div>
                  <div class="col-md-3">
  
                  </div>
                
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  

</div> -->


<div class="container">
  <div *ngFor="let item of itemData; let in=index">
    <h4> Item Name: {{item.itemname}} </h4>
    <small> Item No: {{item.itemno}} </small> &nbsp;&nbsp;&nbsp;
    Number of Items: <select [(ngModel)]="selectedValue" (change)="getStoreValues($event)" >
      <option *ngFor="let c of numbers" [ngValue]="c[in]">{{c}}</option>
    </select>


    &nbsp;&nbsp;&nbsp; <button (click)="addToCart(item,selectedValue)">Add</button>


  </div>

</div>