.main-page {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: auto;
    padding:0px 0px 200px 0px;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: auto;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .imagestyle{
    height: auto;
    width: 65%;
    margin-top: 15px;
    margin-left: -81px;
  }