<div class="main-page">
  <div id="login" *ngIf="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6" style="    margin-top: -10%;">
          <div id="login-box" class="col-md-12">
            <form [formGroup]="loginForm" novalidate class="mt-8" id="login-form" class="form">
              <h3 class="text-center text-info">Login</h3>
              <div class="form-group">
                <label for="username" class="text-info">Username:</label><br>
                <input type="text" name="username" id="username" formControlName="username" class="form-control">
                <span class="err-msg"
                  *ngIf="loginForm.get('username').touched &&  loginForm.get('username').hasError('required')">
                  Required Field
                </span>
              </div>
              <div class="form-group">
                <label for="password" class="text-info">Password:</label><br>
                <input type="password" name="password" id="password" formControlName="password" class="form-control">
                <span class="err-msg"
                  *ngIf="loginForm.get('password').touched &&  loginForm.get('password').hasError('required')">
                  Required Field
                </span>
              </div>


              Remember me: <input type="checkbox" id="rememberMe" name="rememberMe" formControlName="rememberme">



              <div class="alert alert-danger" *ngIf="loginSuceess">
                <strong>Info!</strong> {{msgText}}
              </div>

              <div class="row">
                <div class="col-md-3">
                  <button class="btn  btn-success" (click)="loginData()"> Login </button>

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                  <button class="btn btn-primary" (click)="registerPopup()"> Register </button>

                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div id="login" *ngIf="register">
    <h3 class="text-center text-white pt-5">Registration form</h3>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6" style="    margin-top: -10%;">
          <div id="login-box" class="col-md-12">
            <form [formGroup]="registrationForm" novalidate class="mt-8" id="login-form" class="form">
              <h3 class="text-center text-info">Register</h3>
              <div class="form-group">
                <label for="username" class="text-info">Username:</label><br>
                <input type="text" name="username" id="regusername" formControlName="username" class="form-control">
                <span class="err-msg"
                  *ngIf="registrationForm.get('username').touched &&  registrationForm.get('username').hasError('required')">
                  Required Field
                </span>
              </div>

              <div class="form-group">
                <label for="password" class="text-info">Password:</label><br>
                <input type="password" name="password" id="regpassword" formControlName="password" class="form-control">
                <span class="err-msg"
                  *ngIf="registrationForm.get('password').touched &&  registrationForm.get('password').hasError('required')">
                  Required Field
                </span>
              </div>

              <div class="form-group">
                <label for="password" class="text-info">Confirm Password:</label><br>
                <input type="password" name="password" id="confirmpassword" formControlName="confirmpassword"
                  class="form-control" (blur)="checkConfirmPassword()">
                <span class="err-msg"
                  *ngIf="registrationForm.get('confirmpassword').touched &&  registrationForm.get('confirmpassword').hasError('required')">
                  Required Field
                </span>
              </div>

              <div class="alert alert-warning" *ngIf="userExists">
                <strong>Warning!</strong> Passwords Not matched
              </div>


              <div class="form-group">
                <label for="username" class="text-info">First Name:</label><br>
                <input type="text" name="username" id="firstname" formControlName="firstname" class="form-control">
                <span class="err-msg"
                  *ngIf="registrationForm.get('firstname').touched &&  registrationForm.get('firstname').hasError('required')">
                  Required Field
                </span>
              </div>
              <div class="form-group">
                <label for="username" class="text-info">Last Name:</label><br>
                <input type="text" name="username" id="lastname" formControlName="lastname" class="form-control">
                <span class="err-msg"
                  *ngIf="registrationForm.get('lastname').touched &&  registrationForm.get('lastname').hasError('required')">
                  Required Field
                </span>
              </div>
              <div class="form-group">
                <label for="username" class="text-info">Email</label><br>
                <input type="text" name="username" id="email" formControlName="emailid" class="form-control">
                <span class="err-msg"
                  *ngIf="registrationForm.get('emailid').touched &&  registrationForm.get('emailid').hasError('required')">
                  Required Field
                </span>
              </div>
              <div class="form-group">
                <label for="username" class="text-info">Phone:</label><br>
                <input type="text" name="username" id="phone" formControlName="phoneno" class="form-control">
                <span class="err-msg"
                  *ngIf="registrationForm.get('phoneno').touched &&  registrationForm.get('phoneno').hasError('required')">
                  Required Field
                </span>
              </div>
              <div class="form-group">
                <label for="password" class="text-info">address1:</label><br>
                <input type="text" name="password" id="address1" formControlName="address1" class="form-control">
                <span class="err-msg"
                  *ngIf="registrationForm.get('address1').touched &&  registrationForm.get('address1').hasError('required')">
                  Required Field
                </span>
              </div>

              <div class="form-group">
                <label for="password" class="text-info">address2:</label><br>
                <input type="text" name="password" id="address2" formControlName="address2" class="form-control">

                <span class="err-msg"
                  *ngIf="registrationForm.get('address2').touched &&  registrationForm.get('address2').hasError('required')">
                  Required Field
                </span> </div>



              <!-- <div class="form-group mb-4" style="padding-left:90px">
                <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
               <div class="imagestyle">
                <img id="profilepic" src="{{base64textString}}" alt="Red dot" style=" "/>
              </div>
              </div> -->


              <div class="alert alert-success" *ngIf="loginSuceess">
                <strong>Success!</strong> {{msgText}} Successfully
              </div>

              <div class="row">
                <div class="col-md-3">
                  <button class="btn  btn-success" (click)="registerData()"> Register</button>

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                  <button class="btn btn-primary" (click)="loginPopup()">Login </button>

                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>